<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <app-breadcrumb></app-breadcrumb>
    <div class="box row panel">
      <div class="col-md-2">
      </div>
      <div class="col-md-3 col-md-offset-6 btn-col">
      </div>
    </div>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr class="table-warning">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (lstOrder.content), let i = index " [attr.data-index]="i">
          <th scope="row">{{(i+1)+((lstOrder.number)*10)}}</th>
          <td>{{item.id}}</td>
          <td>{{item.date |date: 'dd/MM/yyyy' }}</td>
          <td>
            <select [id]="'stt'+item.id" class="form-control" [selectedIndex]=item.status>
              <option value=0 >Cancel</option>
              <option value=1 >Waiting for confirm</option>
              <option value=2 >Delivery</option>
              <option value=3 >Done</option>
            </select>


          </td>
          <td [innerHTML]="item.description.replaceAll('\n','\<br/>')"></td>
          <td><button class="btn btn-primary" (click)="update(item.id)">Save</button></td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-4">
    </div>
    <nav aria-label="Page navigation example" class="col-md-4">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" [routerLink]="['/admin']" [queryParams]="{page: '0'}" (click)="jump('0')">First</a></li>
        <li class="page-item">
          <a class="page-link" [routerLink]="['/admin']" [queryParams]="{page: lstOrder.number-1}" (click)="jump(''+(lstOrder.number-1))">Previous</a></li>
        <li class="page-item">
          <a class="page-link" [routerLink]="['/admin']" [queryParams]="{page: lstOrder.number+1}" (click)="jump(''+(lstOrder.number+1))">Next</a></li>
        <li class="page-item">
          <a class="page-link" [routerLink]="['/admin']" [queryParams]="{page: lstOrder.totalPages-1}" (click)="jump(''+(lstOrder.totalPages-1))">Last</a></li>
      </ul>
    </nav>
  </div>
</div>

