<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <app-breadcrumb></app-breadcrumb>
    <app-categories></app-categories>
    <div class="col-md-9 col-sm-7">
      <div class="content-search margin-bottom-20">
        <div class="row">
          <div class="col-md-6">
            <h1>Search result for <em>{{keyWord}}</em></h1>
          </div>
          <div class="col-md-6">
            <form action="#">
              <div class="input-group">
                <input type="text" placeholder="Search again" class="form-control" [(ngModel)]="keyWord" name = "keyWord">
                <span class="input-group-btn">
                  <button class="btn btn-primary" (click)="searchAgain()">Search</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row list-view-sorting clearfix">
        <div class="col-md-2 col-sm-2 list-view">
          <a href="javascript:;"><i class="fa fa-th-large"></i></a>
          <a href="javascript:;"><i class="fa fa-th-list"></i></a>
        </div>
        <div class="col-md-10 col-sm-10">
          <div class="pull-right">
            <label class="control-label">Show:</label>
            <select class="form-control input-sm">
              <option value="#?limit=24" selected="selected">24</option>
              <option value="#?limit=25">25</option>
              <option value="#?limit=50">50</option>
              <option value="#?limit=75">75</option>
              <option value="#?limit=100">100</option>
            </select>
          </div>
          <div class="pull-right">
            <label class="control-label">Sort&nbsp;By:</label>
            <select class="form-control input-sm">
              <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
              <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
              <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
              <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
              <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
              <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
              <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
              <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
              <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
            </select>
          </div>
        </div>
      </div>
      <!-- BEGIN PRODUCT LIST -->
      <div class="row product-list">
        <!-- PRODUCT ITEM START -->
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let p of resultLst.pageList">
          <app-product-item [name]="p.name"
          [img]="'http://localhost:8080/api/v1/image/'+p.id" [price]="p.unitPrice" [id]="p.id"
          [discount]="p.discount">
      </app-product-item>
        </div>
        <!-- PRODUCT ITEM END -->
      </div>
      <!-- END PRODUCT LIST -->
      <!-- BEGIN PAGINATOR -->
      <div class="row">
        <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
        <div class="col-md-8 col-sm-8">
          <ul class="pagination pull-right">
            <li><a href="javascript:;">&laquo;</a></li>
            <li><a href="javascript:;">1</a></li>
            <li><span>2</span></li>
            <li><a href="javascript:;">3</a></li>
            <li><a href="javascript:;">4</a></li>
            <li><a href="javascript:;">5</a></li>
            <li><a href="javascript:;">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <!-- END PAGINATOR -->
    </div>
  </div>
</div>
