<div class="row">
    <app-slide></app-slide>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <app-new-product></app-new-product>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <app-side-bar></app-side-bar>
        <app-product-list-second></app-product-list-second>
    </div>

</div>        
<div class="row margin-bottom-35 ">
    <div class="col-md-10 col-md-offset-1">
        <app-product-list-third></app-product-list-third>
        <app-promo></app-promo> 
    </div>
</div>