<div class="col-md-9 col-sm-7">
  <h1>My Account Page</h1>
  <div class="content-page">
    <h3>My Account</h3>
    <ul>
      <li><a href="javascript:;">Edit your account information</a></li>
      <li><a href="javascript:;">Change your password</a></li>
      <li><a href="javascript:;">Modify your address book entries</a></li>
      <li><a href="javascript:;">Modify your wish list</a></li>
    </ul>
    <hr>

    <h3>My Orders</h3>
    <ul>
      <li><a href="javascript:;">View your order history</a></li>
      <li><a href="javascript:;">Downloads</a></li>
      <li><a href="javascript:;">Your Reward Points</a></li>
      <li><a href="javascript:;">View your return requests</a></li>
      <li><a href="javascript:;">Your Transactions</a></li>
    </ul>
  </div>
  <img src="https://afamilycdn.com/150157425591193600/2022/3/18/27613146750638659970063857868627988586911613n-16475895808371175592779.jpg" alt="" class="img-fluid" width="100">
</div>